*{
  background-color:rgb(32, 32, 32);
  color: aliceblue;
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Frijole', cursive;
  font-size: 22px;
}
p{
  margin: 0px;
  padding: 0px;
  font-size: 32px;
  background-color:rgb(32, 32, 32);
}

.links{
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  padding: 0 10px;
}

.links:hover{
  color: rgb(255, 200, 200);
}

.links:hover:after{
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  bottom: -10px;
  color: rgb(255, 255, 255);
  background-color: rgb(253, 93, 93);
}

.sect{
  background-color:rgb(32, 32, 32);
  display: flex;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}
.tiles{
  background-color:rgb(32, 32, 32);
  display: flex;
  padding: 35px 35px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ftr{
  height: 200px;
  border-top: 1px solid white;
  background-image: url("imgs/footer_img.png");
  width: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cc{
  color: aliceblue;
  font-family: 'Frijole', cursive;
  font-size: 42px;
  font-weight: 900;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 106px;
  display: flex;
  width: 100%;
}
.cc:hover{
  font-family: 'Frijole', cursive;
  color: rgb(253, 93, 93);
  font-size: 43px;
  font-weight: 900;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  height: 106px;
  display: flex;
  width: 100%;
}