*{
  background-color:rgb(32, 32, 32);
  color: aliceblue;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
}
.links{
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  letter-spacing: 0.5px;
  padding: 0 10px;
}


.links:hover{
  color: rgb(255, 200, 200);
}

.links:hover:after{
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0px;
  bottom: -10px;
  color: rgb(255, 255, 255);
  background-color: rgb(253, 93, 93);
}

.sect{
  height: 800px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.ftr{
  background-image: url("imgs/footer_img.png");
  height: 300px;
  width: 100%;
  background-repeat: no-repeat;
}