*{
  background-color: rgba(135, 202, 250,0.2);
  font-size: 24px;
  margin: 0px;
  padding: 0px;
}
/* .navbar{
  display: flex;
  align-items:flex-end;
  justify-content: flex-end;
  padding: 10px;
  font-size: 20px;
  font-weight:100;
} */

li{
  list-style: none;
}
a{
  text-decoration: none;
  color: rgb(37, 130, 254);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
  color: rgba(254, 197, 99, 0.797);
}
.alignc{
  display: flex;
  height:auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.aligns{
  display: flex;
  height: auto;
  justify-content: start;
  align-items: flex-start;
  text-align: start;
}
.btn{
  background-color: rgba(254, 197, 99, 0.797);
  color: rgba(87, 87, 245,1);
  justify-content: center;
  text-align: center;
  padding: 5px 15px 5px 15px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.menu{
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.txt{
  color: rgb(254, 197, 99);
  text-align: start;
}
.img-section{
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-genie{
  display: flex;
  height: 300px;
  width: 300px;
}
.inpt{
  background-color: aliceblue;
  /* display: flex;
  justify-content: start;
  align-items: flex-start; */
  text-align: start;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-radius: 6px;
}

.qrcode{
  background-image: url("../src/imgs/Mobile.svg");
  background-repeat: no-repeat;
  top: 0;
  width: 355px;
  height: 200px;
  overflow: hidden;
  
}
.qrcode >.example::-webkit-scrollbar {
  display: none;
}