* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
}

.pp {
    font-family: 'Roboto', sans-serif;
}

.ttl1 {
    font-weight: 200;
}

.txt1 {
    font-weight: 100;
}